* {
  user-select: none;
}

header {
  width: 100wh;
  height: 60px;
  background-color: #26bfb3;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > h1 {
  color: white;
  font-weight: 700;
  font-size: 28px;
  margin: 0;
}

.board {
  margin: 40px auto;
  display: grid;
  justify-content: center;
  gap: 4px;
}

.tile {
  width: 80px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 36px;
  background-color: #26bfb3;
  color: white;
  font-feature-settings: "tnum";
}

.hole {
  visibility: hidden;
}

.tool {
  display: flex;
  justify-content: center;
}

.tool div {
  width: 100px;
  text-align: center;
}

.dialogue-fullscreen {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialogue {
  margin: 160px auto;
  display: flex;
  flex-direction: column;
  width: 400px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 28px;
}

.dialogue-title {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 28px;
}
.dialogue-title span {
  margin-left: 20px;
}

.dialogue-exit {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 36px;
}

.dialogue-button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialogue .resize-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}
