header {
  width: 100wh;
  height: 60px;
  background-color: #26BFB3;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > h1 {
  color: white;
  font: 700 24px Montserrat;
  margin: 0;
}

.board {
  margin: 40px auto;
  display: grid;
  justify-content: center;
  gap: 4px;
}

.tile {
  width: 80px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  font: 700 32px Inter;
  background-color: #26BFB3;
  color: white;
  user-select: none;
}

.hole {
  visibility: hidden;
}
